<div class="jumbotron bg-dark jumbotron-fluid text-center mb-4">
  <h1 class="text-white">Burgers!</h1>
</div>

<div class="container-fluid">

  <form action="burger/create" method="POST">
    <div class="input-group mb-4">
      <label for="new_burger"></label>
      <input class="form-control" id="new_burger" type="text" placeholder="add a new burger to the menu..." name="burger_name">
      <div class="input-group-append">
        <button id="submit-button" class="btn btn-lg btn-success" type="submit">Place Order</button>
      </div>
    </div>
  </form>

  <div class="row">

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h2 class="text-center">Burger Menu</h2>
        </div>
        <div class="card-body">
          <div>
            {{#each burgers}} {{#unless devoured}}
            <form action="burger/eat/{{id}}" method="POST">
              <div class="row justify-content-md-center">
                <div class="col-md-10 col-10">
                    <h3>{{burger_name}}</h3>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary devour-button m-2" type="submit">Eat it!</button>
                </div>
              </div>
            </form>
            {{/unless}} {{/each}}
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h2 class="text-center">Burgers You've Ate</h2>
        </div>
        <div class="card-body">
          {{#each burgers}} {{#if this.devoured}}
          <div class="m-3">
            <h3>{{this.burger_name}}</h3>
          </div>
          {{/if}} {{/each}}
        </div>
      </div>
    </div>

  </div>
</div>